# Node
node_modules/

# Expo
.expo/
.expo-shared/
web-build/

# EAS
.easignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Build
build/
coverage/

# Local env
.env
.env.*

# Release records (keep local copies if desired)
release/records.local.json
